@charset "utf-8";

:root {
  --darkgreen: #228b22;
  --lightgreen: #B4DF9A;
  --darkgray: #555555;
  --gray: #808080;
  --lightgray: #dcdcdc;
  --red: #ba3204;
}

body, ul, li {  /* スタイル初期化 */
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0px;          /* ページ全体のmargin */
  padding: 0px;         /* ページ全体のpadding */
}

#main {
  margin-left: auto;    /* 左側マージンを自動的に空ける */
  margin-right: auto;   /* 右側マージンを自動的に空ける */
  width: 70%;           /* 幅を決定する */
  font-family: sans-serif;
}
/* タイトルヘッダー */
#header {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}
.headerflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.title {
  padding-left: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: var(--darkgreen);
}
.iconsize {
  width: 80px;
  height: 80px;
}
/* メニューバー */
.nav_wrap {
  text-align: center;
}
.nav_lists {
  display: flex;
  list-style: none;
}
.nav_list {
  width: 25%;
  height: 50px;
  background-color: var(--lightgreen);
  position: relative;
  transition: all .3s;
}
.nav_list:hover {
  color: white;
  background-color: rgba(34, 139, 34, 0.5);
}
.nav_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--darkgreen);
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: bold;
  transition: all .3s;
}
.nav_list a:hover {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
}
.current a{
  color: black;
}
.dd_lists {
  visibility: hidden; /*デフォルトでは非表示の状態にしておく*/
  opacity: 0;         /*不透明度0*/
  transition: all .3s;/*表示の変化を0.3秒に指定*/
  width: 100%;
  position: absolute;
  list-style: none;
  top: 50px;
  left: 0;
}
.nav_list:hover .dd_lists {
  visibility: visible;  /*ナビメニューにホバーしたら表示*/
  opacity: 1;           /*不透明度1*/
}
.dd_list {  /* サブドロップダウンメニュー背景 */
  background-color: var(--lightgreen);
  height: 50px;
  transition: all .3s;
  position: relative;
  z-index: 0;
}
.dd_list:before{  /* サブドロップダウンメニュー区切り線 */
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--darkgreen);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.dd_list a {  /* サブドロップダウンメニュー文字 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkgreen);
  text-decoration: none;
  position: relative;
}
.dd_list a:hover {  /* サブドロップダウンメニューのホバー時 */
  background-color: var(--darkgreen);
  color: var(--lightgreen);
}
.dd_list a:hover::before {  /* サブドロップダウンメニューのホバー時区切り線 */
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--darkgreen);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* ハンバーガーメニューのスタイル */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
  margin-left: auto;
}
.hamburger span {
  display: block;
  height: 4px;
  width: 20px;
  background-color: var(--darkgreen);
  border-radius: 4px;
  transition: all 0.3s;
}

/* 見出し文字装飾 */
h1 {
  font-size: x-large;
  margin: 5px 0px;
  padding: 5px 0px;
  color: black;
  border-top: 2px dotted var(--lightgreen);
  flex-grow: 1;
}
h2 {
  font-size: larger;
  margin: 5px 0px;
  padding: 5px 0px;
  color: black;
  border-top: 2px dotted var(--lightgreen);
}
h3 {
  font-size: large;
  margin: 10px 0px;
  padding: 5px 10px;
  color: black;
  background: linear-gradient(to right, var(--lightgreen), white);
}
h4 {
  font-size: medium;
}
.h1center {
  text-align: center;
}
/*　h4の修飾分岐 */
.h4home {
  margin: 0px 0px 10px 0px;
  padding: 5px 10px;
  background: linear-gradient(to right, var(--gray), white);
  color: white;
}
.h4other {
  margin: 0px 0px 10px 0px;
  padding: 5px 10px;
  background: var(--gray);
  border-radius: 15px;
  color: white;
}
.h4othersub {
  margin: 0px 0px 10px 0px;
  padding: 5px 10px;
  background: var(--gray);
  border-radius: 15px;
  color: white;
  width: fit-content;
  height: fit-content;
}
span { /* Home内使用時 */
  color: var(--lightgray);
  padding-left: 10px;
}

/*　フキダシ */
.news {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 12px;
  padding: 5px 10px;
  background: var(--red);
  border-radius: 15px;
  color: white;
  font-size: medium;
  font-weight: bold;
  align-items: center;
} 
.news::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 15px solid var(--red);
  border-left: 30px solid transparent;
  border-right: -20px solid transparent;
  width: 0;
  height: 0;
}

/* 横並び：左寄せ */
.flex {
  display: flex;
}
/* 横並び：両端揃え */
.flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tate_center {
  flex: 1;
  flex-direction: column; /* 縦方向の配置 */
  align-items: center;    /* 縦方向の中央揃え */ 
  text-align: center;     /* テキストの中央揃え */ 
}
.space {
  width: 50px;
  height: 100%;
}
.leftspace {
  margin-left: 20px;
}
.img_right {
  margin-left: auto; 
  display: block;
}

a {
  text-decoration: none;
}
p {
  margin-top: 5px;
  margin-bottom: 20px;
  color: black;
  line-height: 160%;
}

/* スマホ画面対応：767px以下の場合 */
@media (max-width: 767px) {
  #main {
    margin-left: auto;    /* 左側マージンを自動的に空ける */
    margin-right: auto;   /* 右側マージンを自動的に空ける */
    width: 90%;           /* 幅を決定する */
    font-family: sans-serif;
  }
  #header {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }  
  .title {
    padding-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: var(--darkgreen);
  }
  .iconsize {
    width: 60px;
    height: 60px;
  }  
  .hamburger {
    display: flex;
  }
  .nav_wrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
  .nav_wrap.active {
    display: block;
    transform: translateX(0);
  }
  .nav_lists {
    flex-direction: column;
    list-style: none;
  }

  .flex {
    flex-direction: column; /* 子要素を縦並びにする */
    align-items: center;
  }  
  .flex_sb {
    flex-direction: column; /* 子要素を縦並びにする */
    align-items: center;
  }
  .space { /* 縦並び子要素間：ラインと隙間 */
    margin: 10px 0px;
    height: 1px;
    background-color: var(--darkgray);
  }
  .h4home { /* HOMEのグレーグラデーション無し */
    margin: 0px 0px 10px 0px;
    padding: 5px 10px;
    background: var(--gray);
    border-radius: 15px;
    color: white;
  }
  .leftspace {
    margin-left: 0px;
  }
  .img_right {
    margin-left: 0px; 
    display: block;
  }  
}


